Repository codeburps/o3de.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers, @o3de/sig-release-maintainers, @o3de/reviewers, @o3de/lf

create contrib feedback update
  assets/sass/custom.sass
  layouts/partials/newHome/create-contributet.html
  static/img/home-new/featured1.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

gem page basic
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_extraMixins.scss
  assets/sass/styles/_utility.scss
  assets/sass/styles/_variables.scss
  layouts/about/section.html
  layouts/gems/section.html
  layouts/partials/newHome/create-contributet.html
  layouts/partials/newHome/gallery-section.html
  layouts/partials/newHome/hero-slideshow.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
  static/img/gems/gem-1.jpeg
  static/img/gems/gem-2.jpeg
  static/img/gems/gem-3.jpeg
  static/img/gems/gem-4.jpeg
  static/img/gems/gem-5.jpeg
  static/img/gems/gem-6.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

sigs page added
  assets/sass/styles/_about.scss
  content/sigs/_index.md
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/sigs/section.html
  static/img/sigs/sigs-1.jpeg
  static/img/sigs/sigs-10.jpeg
  static/img/sigs/sigs-11.jpg
  static/img/sigs/sigs-2.jpeg
  static/img/sigs/sigs-3.jpeg
  static/img/sigs/sigs-4.jpeg
  static/img/sigs/sigs-5.jpeg
  static/img/sigs/sigs-6.jpeg
  static/img/sigs/sigs-7.jpeg
  static/img/sigs/sigs-8.jpeg
  static/img/sigs/sigs-9.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

update
  assets/sass/styles/_about.scss
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

staff page layout
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/people/_index.md
  layouts/people/section.html
  static/fonts/icomoon.woff
  static/img/staff/nicole.jpg
  static/img/staff/royal.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

members logo added
  assets/sass/styles/_about.scss
  content/members/_index.md
  layouts/members/section.html
  static/img/members-logo/image 50.png
  static/img/members-logo/image 51.png
  static/img/members-logo/image 52.png
  static/img/members-logo/image 53.png
  static/img/members-logo/image 55.png
  static/img/members-logo/image 56.png
  static/img/members-logo/image 57.png
  static/img/members-logo/image 58.png
  static/img/members-logo/image 59.png
  static/img/members-logo/image 60.png
  static/img/members-logo/image 61.png
  static/img/members-logo/image 62.png
  static/img/members-logo/image 63.png
  static/img/members-logo/image 64.png
  static/img/members-logo/image 65.png
  static/img/members-logo/image 66.png
  static/img/members-logo/image 67.png
  static/img/members-logo/image 68.png
  static/img/members-logo/image 69.png
  static/img/members-logo/image 70.png
  static/img/members-logo/image 71.png
  static/img/members-logo/image 72.png
  static/img/members-logo/image 73.png
  static/img/members-logo/image 74.png
  static/img/members-logo/image 75.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

members logo added
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
  layouts/members/section.html
  layouts/partials/newHome/members-secion.html
  static/img/overview/feature 1.jpeg
  static/img/overview/feature 1.png
  static/img/overview/feature 2.png
  static/img/overview/feature 3.png
  static/img/overview/feature 4.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

update on about page
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

home page features section
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

FEEDBACK updates
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/sigs/section.html
  static/fonts/AxiformaHeavy.woff
  static/fonts/AxiformaHeavy.woff2
  static/fonts/icomoon.woff
  static/fonts/icomoon.woff2
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers

navigation update
  layouts/partials/newHome/megaMenu/community.html
Owners: @o3de/sig-docs-community-site-reviewers

feature page
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/features/_index.md
  layouts/features/feature_landing.html
  layouts/features/section.html
  static/img/features/Familiar-build-system.jpg
  static/img/features/Physically-based Photorealistic Renderer.jpg
  static/img/features/image-placeholder.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

feature page
  assets/sass/styles/_about.scss
  layouts/features/feature_landing.html
Owners: @o3de/sig-docs-community-site-reviewers

feature page images + links
  layouts/features/feature_landing.html
  static/img/features/atom_deep_dive.jpeg
  static/img/features/code.jpg
  static/img/features/content-editor.jpg
  static/img/features/data-driven-assets.jpg
  static/img/features/dev_shop.jpeg
  static/img/features/high-performance.jpeg
  static/img/features/look_development.jpeg
  static/img/features/prefab.jpg
  static/img/features/robust_networking.jpg
  static/img/features/rt_physics_simulator.jpeg
  static/img/features/runtime_scripting.jpeg
  static/img/features/simplified-proj.jpg
  static/img/features/terrain-1.jpg
  static/img/features/terrain-2.jpg
  static/img/features/white-box.jpg
  static/img/features/working_atom.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

update styles
  assets/sass/styles/_about.scss
Owners: @o3de/sig-docs-community-site-reviewers

get started page
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/get-started/_index.md
  layouts/features/feature_landing.html
  layouts/get-started/section.html
  static/img/free-source/Discord.png
  static/img/free-source/Forum.png
  static/img/free-source/gameclones.png
  static/img/free-source/itch_io.png
  static/img/free-source/kenneyLOGO.png
  static/img/free-source/open clip art.png
  static/img/free-source/opengameout.png
  static/img/free-source/sketchfab.png
  static/img/free-source/wikimedia.png
  static/img/logos/linux.png
  static/img/logos/windows.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

update menu
  layouts/get-started/section.html
  layouts/partials/newHome/megaMenu/get-started.html
Owners: @o3de/sig-docs-community-site-reviewers

update
  content/create/_index.md
  layouts/create/section.html
  layouts/partials/newHome/megaMenu/get-started.html
Owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-site-reviewers

about page content update pending
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

navigation rework
  assets/sass/custom.sass
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/partials/newHome/megaMenu/resources.html
  static/fonts/icomoon.woff
  static/img/home-new/navigation/Event.jpg
  static/img/home-new/navigation/O3DE_Podcast_009.jpg
  static/img/home-new/navigation/google-test.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

menu responsive
  assets/sass/custom.sass
Owners: @o3de/sig-docs-community-site-reviewers

mega menu + search fix
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/search.html
Owners: @o3de/sig-docs-community-site-reviewers

box shadow removed from the search
  assets/sass/custom.sass
Owners: @o3de/sig-docs-community-site-reviewers

Footer updates
  assets/sass/custom.sass
Owners: @o3de/sig-docs-community-site-reviewers

footer updates
  layouts/partials/newHome/footer-content.html
  layouts/partials/newHome/footer.html
  layouts/partials/newHome/getstarted-secion.html
  layouts/partials/newHome/newsletter.html
Owners: @o3de/sig-docs-community-site-reviewers

home page tuning
  assets/sass/custom.sass
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

gallery section on home page layout
  assets/js/app.js
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/partials/newHome/create-contributet.html
  layouts/partials/newHome/gallery-section.html
  static/img/home-new/featured1.jpeg
  static/img/home-new/gallery/alien.jpeg
  static/img/home-new/gallery/into-darkness.jpeg
  static/img/home-new/gallery/planet-survival.jpeg
  static/img/home-new/gallery/showcase-bg.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

members section on home page
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/members-secion.html
Owners: @o3de/sig-docs-community-site-reviewers

feedback and fixes
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/members/section.html
  layouts/partials/newHome/hero-slideshow.html
  layouts/partials/newHome/new-menu-loop.html
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

hom epage feedback implimented
  assets/sass/custom.sass
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/packed-w-features.html
  static/img/home-new/blog-img.jpeg
  static/img/home-new/blog-img.jpg
  static/img/home-new/news-img.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

Members page finished feedback
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
  layouts/members/section.html
Owners: @o3de/sig-docs-community-site-reviewers

Staff page update
  assets/sass/styles/_about.scss
  content/community/members/_index.md
  content/community/staff/_index.md
  layouts/community/members.html
  layouts/community/staff.html
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/megaMenu/community.html
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers

staff page
  assets/sass/styles/_about.scss
Owners: @o3de/sig-docs-community-site-reviewers

staff update
  assets/sass/styles/_about.scss
Owners: @o3de/sig-docs-community-site-reviewers

feedback on mega menu
  assets/sass/custom.sass
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

about page in progress
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  layouts/about/section.html
  layouts/partials/newHome/megaMenu/about.html
  static/img/overview/Engine Overview.png
  static/img/overview/about-bg.png
  static/img/overview/feature 1.jpg
  static/img/overview/feature 2.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

About page
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
  static/img/overview/feature 3.jpeg
  static/img/overview/feature 4.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

home page updates
  assets/sass/custom.sass
  layouts/about/section.html
  layouts/partials/newHome/gallery-section.html
  layouts/partials/newHome/open-to-industries.html
  static/img/home-new/gallery/AWS Game Tech.jpg
  static/img/home-new/gallery/Imagination Technologies.jpg
  static/img/home-new/gallery/Kythera AI II.jpg
  static/img/home-new/gallery/planet-survival.jpeg
  static/img/home-new/industry/Robotics.jpg
  static/img/home-new/industry/education.jpg
  static/img/home-new/industry/gaming.jpg
  static/img/home-new/industry/metaverse.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

home page update
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/partials/newHome/create-contributet.html
  layouts/partials/newHome/gallery-section.html
Owners: @o3de/sig-docs-community-site-reviewers

update
  assets/sass/styles/_about.scss
  layouts/community/staff.html
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers

.github/CODEOWNERS:

# Default site owners
# These owners will be requested for review unless a later match takes precedence.
* @o3de/sig-docs-community-maintainers

# Ownership owners
/.github/CODEOWNERS @o3de/sig-docs-community-maintainers

# Default owner directories
# These directories have default owners and also exceptions that will be specified in later groups.
/content/docs/ @o3de/sig-docs-community-reviewers
/layouts/ @o3de/sig-docs-community-site-reviewers
/static/images/ @o3de/sig-docs-community-reviewers

# Website content
/assets/ @o3de/sig-docs-community-site-reviewers
/content/search/ @o3de/sig-docs-community-site-reviewers
/static/js/ @o3de/sig-docs-community-site-reviewers
/config.toml @o3de/sig-docs-community-site-reviewers
/Makefile @o3de/sig-docs-community-site-reviewers
/netlify.toml @o3de/sig-docs-community-site-reviewers
/package.json @o3de/sig-docs-community-site-reviewers

# Community content
/content/blog/ @o3de/sig-docs-community-reviewers 
/content/community/ @o3de/sig-docs-community-reviewers 
/content/contribute/ @o3de/sig-docs-community-reviewers 
/layouts/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers 
/layouts/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog-display.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/css.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/static/images/blog/ @o3de/sig-docs-community-reviewers 
/static/images/community/ @o3de/sig-docs-community-reviewers 
/static/images/contribute/ @o3de/sig-docs-community-reviewers 
/CONTRIBUTING.md @o3de/sig-docs-community-reviewers
/README.md @o3de/sig-docs-community-reviewers

# Release content
/content/docs/release-notes/ @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers
/static/images/release-notes/ @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers

# Docs content
/content/smoketest.md @o3de/sig-docs-community-reviewers
/static/docs/ @o3de/sig-docs-community-reviewers
/static/files/ @o3de/sig-docs-community-reviewers
/static/_redirects @o3de/sig-docs-community-reviewers
/layouts/shortcodes/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/docs/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/docs @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers

# Shared community and docs content
/content/docs/contributing/ @o3de/sig-docs-community-reviewers
/content/docs/contributing/to-code/ @o3de/sig-docs-community-reviewers @o3de/reviewers
/static/images/contributing/ @o3de/sig-docs-community-reviewers 

# Foundation-owned materials
/content/download/ @o3de/lf
/content/_index.md @o3de/lf
/LICENSE-* @o3de/lf
/_index.md @o3de/lf
/static/images/events/ @o3de/lf
/static/images/home/ @o3de/lf
/static/img/ @o3de/lf
/static/video/ @o3de/lf
/static/apple-touch-icon*.png @o3de/lf
/static/favicon.ico @o3de/lf
