Repository codeburps/o3de.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers, @o3de/sig-release-maintainers, @o3de/reviewers, @o3de/lf

.github/CODEOWNERS:

# Default site owners
# These owners will be requested for review unless a later match takes precedence.
* @o3de/sig-docs-community-maintainers

# Ownership owners
/.github/CODEOWNERS @o3de/sig-docs-community-maintainers

# Default owner directories
# These directories have default owners and also exceptions that will be specified in later groups.
/content/docs/ @o3de/sig-docs-community-reviewers
/layouts/ @o3de/sig-docs-community-site-reviewers
/static/images/ @o3de/sig-docs-community-reviewers

# Website content
/assets/ @o3de/sig-docs-community-site-reviewers
/content/search/ @o3de/sig-docs-community-site-reviewers
/static/js/ @o3de/sig-docs-community-site-reviewers
/config.toml @o3de/sig-docs-community-site-reviewers
/Makefile @o3de/sig-docs-community-site-reviewers
/netlify.toml @o3de/sig-docs-community-site-reviewers
/package.json @o3de/sig-docs-community-site-reviewers

# Community content
/content/blog/ @o3de/sig-docs-community-reviewers 
/content/community/ @o3de/sig-docs-community-reviewers 
/content/contribute/ @o3de/sig-docs-community-reviewers 
/layouts/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers 
/layouts/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog-display.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/css.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/static/images/blog/ @o3de/sig-docs-community-reviewers 
/static/images/community/ @o3de/sig-docs-community-reviewers 
/static/images/contribute/ @o3de/sig-docs-community-reviewers 
/CONTRIBUTING.md @o3de/sig-docs-community-reviewers
/README.md @o3de/sig-docs-community-reviewers

# Release content
/content/docs/release-notes/ @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers
/static/images/release-notes/ @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers

# Docs content
/content/smoketest.md @o3de/sig-docs-community-reviewers
/static/docs/ @o3de/sig-docs-community-reviewers
/static/files/ @o3de/sig-docs-community-reviewers
/static/_redirects @o3de/sig-docs-community-reviewers
/layouts/shortcodes/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/docs/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/docs @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers

# Shared community and docs content
/content/docs/contributing/ @o3de/sig-docs-community-reviewers
/content/docs/contributing/to-code/ @o3de/sig-docs-community-reviewers @o3de/reviewers
/static/images/contributing/ @o3de/sig-docs-community-reviewers 

# Foundation-owned materials
/content/download/ @o3de/lf
/content/_index.md @o3de/lf
/LICENSE-* @o3de/lf
/_index.md @o3de/lf
/static/images/events/ @o3de/lf
/static/images/home/ @o3de/lf
/static/img/ @o3de/lf
/static/video/ @o3de/lf
/static/apple-touch-icon*.png @o3de/lf
/static/favicon.ico @o3de/lf

minor adjustments on the home page
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/index.html
  layouts/partials/newHome/footer.html
  layouts/partials/newHome/gallery-section.html
  layouts/partials/newHome/getstarted-secion.html
  layouts/partials/newHome/hero-slideshow.html
  layouts/partials/newHome/members-secion.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
  layouts/partials/svg-icons/down-arrow.svg
Owners: @o3de/sig-docs-community-site-reviewers

Showcase page initial commit
  content/community/showcase/_index.md
  layouts/community/showcase.html
  layouts/partials/newHome/megaMenu/community.html
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

Download page redesign start
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/community/showcase/posts/chain-arc-skill-using-popcornfx-in-o3de.md
  content/community/showcase/posts/first-person-controller-gem.md
  content/download/_index.md
  layouts/community/showcase.html
  layouts/download/section.html
  static/img/download/Laptop.png
  static/img/showcase/FPC-gem.jpeg
  static/img/showcase/PaperKid.jpeg
  static/img/showcase/TerrainWater.jpg
  static/img/showcase/buon.jpg
  static/img/showcase/chain-arc.jpeg
  static/img/showcase/kythera.jpeg
  static/img/showcase/planet survival.jpg
  static/img/showcase/stealth.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers, @o3de/lf

downloads page
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/create/section.html
  layouts/download/section.html
  layouts/partials/community/community-support.html
  layouts/partials/download/content-linux.html
  layouts/partials/download/content-windows.html
  layouts/partials/download/getting-started-linux.html
  layouts/partials/download/getting-started-windows.html
  layouts/partials/svg-icons/Discord.svg
  layouts/partials/svg-icons/Forum.svg
  layouts/partials/svg-icons/paper.svg
  static/img/download/Laptop.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers, @o3de/lf

showcase -content + responsive
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/community/showcase/posts/Deadhouse-Sonata.md
  content/community/showcase/posts/Kythera-AI.md
  content/community/showcase/posts/Multiplayer-Sample-Game.md
  content/community/showcase/posts/Paper-Kid.md
  content/community/showcase/posts/Planet-Survival-Game.md
  content/community/showcase/posts/Stealth.md
  content/community/showcase/posts/Terrain-Water.md
  content/community/showcase/posts/buon.md
  content/community/showcase/posts/chain-arc-skill-using-popcornfx-in-o3de.md
  content/community/showcase/posts/first-person-controller-gem.md
  layouts/community/showcase.html
  static/img/showcase/Deadhouse-Sonata.jpg
  static/img/showcase/Kythera-AI.jpg
  static/img/showcase/Multiplayer-Sample-Game.jpg
  static/img/showcase/Paper-Kid.jpeg
  static/img/showcase/Planet-Survival-Game.jpg
  static/img/showcase/Showcase_Buon.jpg
  static/img/showcase/Stealth.jpg
  static/img/showcase/Terrain-Water.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers, @o3de/lf

features page polishing in progress
  assets/sass/styles/_about.scss
  layouts/features/feature_landing.html
  layouts/partials/newHome/megaMenu/resources.html
  layouts/sigs/section.html
  static/img/sigs/audio.jpg
  static/img/sigs/build.jpg
  static/img/sigs/content.jpg
  static/img/sigs/core.jpg
  static/img/sigs/docs.jpg
  static/img/sigs/networking.jpg
  static/img/sigs/platform.jpg
  static/img/sigs/security.jpg
  static/img/sigs/sigs-1.jpeg
  static/img/sigs/sigs-10.jpeg
  static/img/sigs/sigs-11.jpg
  static/img/sigs/sigs-2.jpeg
  static/img/sigs/sigs-3.jpeg
  static/img/sigs/sigs-4.jpeg
  static/img/sigs/sigs-5.jpeg
  static/img/sigs/sigs-6.jpeg
  static/img/sigs/sigs-7.jpeg
  static/img/sigs/sigs-8.jpeg
  static/img/sigs/sigs-9.jpeg
  static/img/sigs/simulation.jpg
  static/img/sigs/testing.jpg
  static/img/sigs/uiux.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

features page ready with responsive and content
  assets/sass/styles/_utility.scss
  layouts/features/feature_landing.html
  static/img/features/Deep-Dive-into.jpg
  static/img/features/Network-Transport.jpg
  static/img/features/Networking.jpg
  static/img/features/Physically-based Photorealistic Renderer.jpg
  static/img/features/Script-Canvas.jpg
  static/img/features/Terrain-Tutorial-Part-1.jpg
  static/img/features/The-Script-Canvas-Pipeline.jpg
  static/img/features/concept-script-canvas.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

update on about page
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

about page finalised
  layouts/gems/section.html
Owners: @o3de/sig-docs-community-site-reviewers

about page finalised
  assets/sass/styles/_about.scss
  layouts/about/section.html
  static/img/download/download-bg.jpeg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/lf

about responsive in rogress
  assets/sass/styles/_about.scss
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

api integration from wpto hugo for posts and events
  assets/js/app.js
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  layouts/about/section.html
  layouts/create/section.html
  layouts/partials/community/staff-foundation.html
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/svg-icons/github-icon.svg
  layouts/partials/svg-icons/linkedin-icon.svg
  layouts/partials/svg-icons/twitter-icon.svg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers

feedback session 1
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  content/contribute/_index.md
  layouts/about/section.html
  layouts/contribute/section.html
  layouts/create/section.html
  layouts/partials/newHome/gallery-section.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/members-secion.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
  static/img/download/contribute-banner.png
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers, @o3de/lf

feedback round 1
  assets/sass/styles/_about.scss
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

industry page pushed to dev
  assets/sass/styles/_about.scss
  content/industries/_index.md
  layouts/industries/section.html
  layouts/partials/newHome/open-to-industries.html
  static/img/industries/AI.jpg
  static/img/industries/AR.jpg
  static/img/industries/Architecture.jpg
  static/img/industries/Automotive.jpg
  static/img/industries/Digital-Twins.jpg
  static/img/industries/Education.jpg
  static/img/industries/Gaming.jpg
  static/img/industries/Healthcare-Medicine.jpg
  static/img/industries/Manufacturing.jpg
  static/img/industries/Metaverse.jpg
  static/img/industries/Motion-Pictures.jpg
  static/img/industries/Product-Design.jpg
  static/img/industries/Retail.jpg
  static/img/industries/Robotics.jpg
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-maintainers, @o3de/lf

brand guidelines page in progress
  content/brand-guidelines/_index.md
  layouts/brand-guidelines/brand_guidelines_landing.html
  layouts/partials/newHome/megaMenu/resources.html
Owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-site-reviewers

home page responsive sections
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

homepage responsive
  assets/sass/custom.sass
  assets/sass/styles/_utility.scss
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/gallery-section.html
Owners: @o3de/sig-docs-community-site-reviewers

api update
  assets/js/app.js
Owners: @o3de/sig-docs-community-site-reviewers

updates on layout home page
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
Owners: @o3de/sig-docs-community-site-reviewers

feedback
  assets/js/app.js
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
  layouts/gems/section.html
  layouts/partials/community/staff-foundation.html
  layouts/partials/newHome/megaMenu/about.html
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-docs-community-reviewers

update on url link
  assets/sass/styles/_about.scss
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
Owners: @o3de/sig-docs-community-site-reviewers

home page blog section
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/community-secion.html
Owners: @o3de/sig-docs-community-site-reviewers

about page responsive
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/about/section.html
Owners: @o3de/sig-docs-community-site-reviewers

download page related items
  layouts/download/section.html
  layouts/partials/download/content-linux.html
  layouts/partials/download/content-windows.html
Owners: @o3de/sig-docs-community-site-reviewers

feedback
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
  assets/sass/styles/_utility.scss
  layouts/partials/download/content-linux.html
  layouts/partials/download/content-windows.html
  layouts/partials/download/getting-started-linux.html
Owners: @o3de/sig-docs-community-site-reviewers

updates
  assets/sass/custom.sass
  assets/sass/styles/_about.scss
Owners: @o3de/sig-docs-community-site-reviewers

Hot fix on base url
  config.toml
Owners: @o3de/sig-docs-community-site-reviewers
