Repository codeburps/o3de.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers, @o3de/sig-release-maintainers, @o3de/lf

featured page
  assets/sass/custom.sass
  config.toml
  content/about/_index.md
  content/features/_index.md
  layouts/about/section.html
  layouts/features/section.html
  layouts/partials/newHome/megaMenu/about.html
Owners: @o3de/sig-docs-community-site-reviewers

line height update
  assets/sass/custom.sass
Owners: none

social links added to mega menu
  config.toml
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/social-buttons.html
Owners: @o3de/sig-docs-community-site-reviewers

brandguideline page setup
  assets/sass/custom.sass
  content/community/brand-guidelines/_index.md
  layouts/community/brand_guidelines_landing.html
  static/fonts/ClarityCity-400.woff2
  static/fonts/ClarityCity-700.woff2
  static/img/brand/primary logo.png
  static/img/brand/without_stapline.png
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

brand guideline page new setup
  assets/sass/custom.sass
  layouts/community/brand_guidelines_landing.html
  static/img/brand/aqua-bg-logo.jpg
  static/img/brand/black-bg-logo.png
  static/img/brand/color-logo.png
  static/img/brand/element.png
  static/img/brand/orange-bg-logo.jpg
  static/img/brand/original-color.png
  static/img/brand/scaling.png
  static/img/brand/spacing-1.png
  static/img/brand/spacing-2.png
  static/img/brand/without-stapline.png
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

mega menu updates
  assets/sass/custom.sass
  config.toml
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/partials/newHome/megaMenu/resources.html
  layouts/partials/newHome/new-menu-loop.html
  static/fonts/icomoon.woff
  static/fonts/icomoon.woff2
  static/img/home-new/blog-post.jpg
  static/img/home-new/news.jpg
  static/img/home-new/podcast.jpeg
Owners: @o3de/sig-docs-community-site-reviewers

responsive mega menu
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/navbar.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/new-menu-loop.html
  static/fonts/icomoon.woff
  static/fonts/icomoon.woff2
Owners: none

styles adjusted
  assets/sass/custom.sass
Owners: none

update
  assets/sass/custom.sass
Owners: none

home page major sections
  assets/js/app.js
  assets/sass/custom.sass
  layouts/_default/baseof.html
  layouts/index.html
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/create-contributet.html
  layouts/partials/newHome/discord.html
  layouts/partials/newHome/hero-slideshow.html
  layouts/partials/newHome/members-secion.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
  layouts/partials/search.html
  static/fonts/AxiformaExtraBold.woff
  static/fonts/AxiformaExtraBold.woff2
  static/fonts/icomoon.woff
  static/fonts/icomoon.woff2
  static/img/home-new/blog-img.jpeg
  static/img/home-new/featured1.jpeg
  static/img/home-new/featured2.jpeg
  static/img/home-new/news-img.jpeg
  static/img/home-new/podcast-img.jpeg
Owners: @o3de/sig-docs-community-site-reviewers

update on the styles
  assets/sass/custom.sass
  layouts/partials/newHome/hero-slideshow.html
Owners: none

industry section added
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/open-to-industries.html
  static/fonts/icomoon.woff
  static/img/home-new/industry/image_32.jpeg
Owners: none

slider progress slides
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/open-to-industries.html
Owners: none

industry animation complete
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/open-to-industries.html
Owners: none

mega menu update + responsive home page
  assets/sass/_extraMixins.scss
  assets/sass/custom.sass
  layouts/partials/newHome/hero-slideshow.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/packed-w-features.html
Owners: none

home page updates
  assets/sass/custom.sass
  layouts/partials/newHome/community-secion.html
  layouts/partials/newHome/open-to-industries.html
  layouts/partials/newHome/packed-w-features.html
  static/img/home-new/industry/architecture.jpg
  static/img/home-new/industry/automotive.jpg
  static/img/home-new/industry/education.jpg
  static/img/home-new/industry/gaming.jpg
  static/img/home-new/industry/metaverse.jpg
Owners: none

gallery section added on home page
  assets/js/app.js
  assets/sass/custom.sass
  layouts/partials/newHome/gallery-section.html
  static/img/home-new/gallery/alien.jpeg
  static/img/home-new/gallery/into-darkness.jpeg
Owners: none

homepage updates + mega menu update
  assets/sass/custom.sass
  content/community/brand-guidelines/_index.md
  layouts/community/brand_guidelines_landing.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/partials/newHome/megaMenu/resources.html
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

update
  assets/sass/_about.scss
  assets/sass/_variables.scss
  assets/sass/custom.sass
  layouts/about/section.html
  static/img/overview/Banner Image.jpg
  static/img/overview/familiarBuild.png
  static/img/overview/laptop.png
  static/img/overview/photorealistic.png
Owners: none

about page
  assets/sass/_about.scss
  assets/sass/custom.sass
  layouts/about/section.html
Owners: none

mega menu links added
  content/gems/_index.md
  content/users/_index.md
  layouts/gems/section.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/partials/newHome/megaMenu/resources.html
  layouts/users/section.html
Owners: none

home page feedback
  assets/sass/custom.sass
  layouts/partials/newHome/packed-w-features.html
Owners: none

new blog added
  content/blog/posts/o3de-priorities-for-2023-plans-for-gdc.md
Owners: none

.github/CODEOWNERS:

# Ownership owners
/.github/CODEOWNERS @o3de/sig-docs-community-maintainers

# Community content
/content/blog/* @o3de/sig-docs-community-reviewers 
/content/community/* @o3de/sig-docs-community-reviewers 
/content/contribute/* @o3de/sig-docs-community-reviewers 
/content/docs/contributing/* @o3de/sig-docs-community-reviewers 
/static/images/blog/* @o3de/sig-docs-community-reviewers 
/static/images/community/* @o3de/sig-docs-community-reviewers 
/static/images/contribute/* @o3de/sig-docs-community-reviewers 
/static/images/contributing/* @o3de/sig-docs-community-reviewers 
/static/images/shared/* @o3de/sig-docs-community-reviewers 
/layouts/blog/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers 
/layouts/community/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/contribute/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/community/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/contribute/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog-display.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/css.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/CONTRIBUTING @o3de/sig-docs-community-reviewers
/README.md @o3de/sig-docs-community-reviewers

# Release content
/content/docs/release-notes/* @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers
/static/images/release-notes/* @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers

# Docs content
/content/docs/* @o3de/sig-docs-community-reviewers
/content/smoketest.md @o3de/sig-docs-community-reviewers
/static/docs/* @o3de/sig-docs-community-reviewers
/static/_redirects @o3de/sig-docs-community-reviewers
/static/images/api-reference/* @o3de/sig-docs-community-reviewers
/static/images/atom-guide/* @o3de/sig-docs-community-reviewers
/static/images/community/* @o3de/sig-docs-community-reviewers
/static/images/contribute/* @o3de/sig-docs-community-reviewers
/static/images/contributing/* @o3de/sig-docs-community-reviewers
/static/images/learning-guide/* @o3de/sig-docs-community-reviewers
/static/images/shared/* @o3de/sig-docs-community-reviewers
/static/images/tools-ui/* @o3de/sig-docs-community-reviewers
/static/images/user-guide/* @o3de/sig-docs-community-reviewers
/static/images/welcome-guide/* @o3de/sig-docs-community-reviewers
/static/images/icons/* @o3de/sig-docs-community-reviewers
/layouts/shortcodes/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/docs/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/docs* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers

# Web content
/assets/* @o3de/sig-docs-community-site-reviewers
/layouts/* @o3de/sig-docs-community-site-reviewers
/content/search/* @o3de/sig-docs-community-site-reviewers
/static/js/* @o3de/sig-docs-community-site-reviewers
/config.toml @o3de/sig-docs-community-site-reviewers
/Makefile @o3de/sig-docs-community-site-reviewers
/package.json @o3de/sig-docs-community-site-reviewers

# Foundation-owned materials
/content/download/* @o3de/lf
/content/_index.md @o3de/lf
/LICENSE-* @o3de/lf
/_index.md @o3de/lf
/netlify.toml @o3de/lf
/static/apple-touch-icon-114x114.png @o3de/lf
/static/apple-touch-icon-120x120.png @o3de/lf
/static/apple-touch-icon-144x144.png @o3de/lf
/static/apple-touch-icon-152x152.png @o3de/lf
/static/apple-touch-icon-180x180.png @o3de/lf
/static/apple-touch-icon-57x57.png @o3de/lf
/static/apple-touch-icon-72x72.png @o3de/lf
/static/apple-touch-icon-76x76.png @o3de/lf
/static/apple-touch-icon.png @o3de/lf
/static/favicon.ico @o3de/lf
/static/img/* @o3de/lf
/static/images/events/* @o3de/lf
/static/images/home/* @o3de/lf
