Repository codeburps/o3de.org, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-docs-community-maintainers, @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers, @o3de/sig-release-maintainers, @o3de/lf

.github/CODEOWNERS:

# Ownership owners
/.github/CODEOWNERS @o3de/sig-docs-community-maintainers

# Community content
/content/blog/* @o3de/sig-docs-community-reviewers 
/content/community/* @o3de/sig-docs-community-reviewers 
/content/contribute/* @o3de/sig-docs-community-reviewers 
/content/docs/contributing/* @o3de/sig-docs-community-reviewers 
/static/images/blog/* @o3de/sig-docs-community-reviewers 
/static/images/community/* @o3de/sig-docs-community-reviewers 
/static/images/contribute/* @o3de/sig-docs-community-reviewers 
/static/images/contributing/* @o3de/sig-docs-community-reviewers 
/static/images/shared/* @o3de/sig-docs-community-reviewers 
/layouts/blog/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers 
/layouts/community/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/contribute/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/community/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/contribute/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog-display.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/css.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/CONTRIBUTING @o3de/sig-docs-community-reviewers
/README.md @o3de/sig-docs-community-reviewers

# Release content
/content/docs/release-notes/* @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers
/static/images/release-notes/* @o3de/sig-docs-community-maintainers @o3de/sig-release-maintainers

# Docs content
/content/docs/* @o3de/sig-docs-community-reviewers
/content/smoketest.md @o3de/sig-docs-community-reviewers
/static/docs/* @o3de/sig-docs-community-reviewers
/static/_redirects @o3de/sig-docs-community-reviewers
/static/images/api-reference/* @o3de/sig-docs-community-reviewers
/static/images/atom-guide/* @o3de/sig-docs-community-reviewers
/static/images/community/* @o3de/sig-docs-community-reviewers
/static/images/contribute/* @o3de/sig-docs-community-reviewers
/static/images/contributing/* @o3de/sig-docs-community-reviewers
/static/images/learning-guide/* @o3de/sig-docs-community-reviewers
/static/images/shared/* @o3de/sig-docs-community-reviewers
/static/images/tools-ui/* @o3de/sig-docs-community-reviewers
/static/images/user-guide/* @o3de/sig-docs-community-reviewers
/static/images/welcome-guide/* @o3de/sig-docs-community-reviewers
/static/images/icons/* @o3de/sig-docs-community-reviewers
/layouts/shortcodes/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/docs/* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/docs* @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers

# Web content
/assets/* @o3de/sig-docs-community-site-reviewers
/layouts/* @o3de/sig-docs-community-site-reviewers
/content/search/* @o3de/sig-docs-community-site-reviewers
/static/js/* @o3de/sig-docs-community-site-reviewers
/config.toml @o3de/sig-docs-community-site-reviewers
/Makefile @o3de/sig-docs-community-site-reviewers
/package.json @o3de/sig-docs-community-site-reviewers

# Foundation-owned materials
/content/download/* @o3de/lf
/content/_index.md @o3de/lf
/LICENSE-* @o3de/lf
/_index.md @o3de/lf
/netlify.toml @o3de/lf
/static/apple-touch-icon-114x114.png @o3de/lf
/static/apple-touch-icon-120x120.png @o3de/lf
/static/apple-touch-icon-144x144.png @o3de/lf
/static/apple-touch-icon-152x152.png @o3de/lf
/static/apple-touch-icon-180x180.png @o3de/lf
/static/apple-touch-icon-57x57.png @o3de/lf
/static/apple-touch-icon-72x72.png @o3de/lf
/static/apple-touch-icon-76x76.png @o3de/lf
/static/apple-touch-icon.png @o3de/lf
/static/favicon.ico @o3de/lf
/static/img/* @o3de/lf
/static/images/events/* @o3de/lf
/static/images/home/* @o3de/lf

add test best practices
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

Add instructions on building gems (#2072)
  content/docs/user-guide/programming/gems/code-gems.md
  static/images/user-guide/programming/gems/VS-build-gem.png
Owners: none

Updated terrain surface gradient list docs (#2153)
  content/docs/user-guide/components/reference/terrain/surface-gradient-list.md
Owners: none

collapse cheatsheet, minor edits
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

[Blog] World of Compilers (#2143)
  content/blog/posts/world-of-compilers.md
  static/images/blog/world-of-compilers/image1.png
  static/images/blog/world-of-compilers/image2.png
  static/images/blog/world-of-compilers/image3.png
Owners: none

Cloth - Issue 939 fix (#2156)
  content/docs/user-guide/interactivity/physics/nvidia-cloth/debugging.md
  static/images/user-guide/interactivity/physics/nvidia-cloth/cloth-debug-visualization.png
  static/images/user-guide/physx/cloth/ui-cloth-component-debug.png
Owners: none

[Docs] Improved terrain links and cvar documentation (#2147)
  content/docs/user-guide/components/reference/_index.md
  content/docs/user-guide/components/reference/terrain/_index.md
  content/docs/user-guide/components/reference/terrain/world-renderer.md
  content/docs/user-guide/gems/reference/environment/terrain/_index.md
Owners: none

Added links linking all the blogs together (#2154)
  content/blog/posts/cmake-essentials-series-part-1.md
  content/blog/posts/cmake-essentials-series-part-2.md
  content/blog/posts/cmake-essentials-series-part-3.md
  content/blog/posts/cmake-essentials-series-part-4.md
Owners: none

[Docs] Added detail to Terrain Macro Material. (#2155)
  content/docs/user-guide/components/reference/terrain/terrain-macro-material.md
  static/images/user-guide/components/reference/terrain/terrain-macro-material-component.png
Owners: none

[Docs] Added more component usage details to the Terrain Physics Heightfield Collider (#2151)
  content/docs/user-guide/components/reference/terrain/terrain-physics-collider.md
Owners: none

Update content/docs/user-guide/testing/best-practices/_index.md
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

Update content/docs/user-guide/testing/best-practices/_index.md
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

grammar update
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

add nondeterminism section
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

incorporate PR feedback
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

Update content/docs/user-guide/testing/best-practices/_index.md
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

Apply suggestions from code review
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

Update content/docs/user-guide/testing/best-practices/_index.md
  content/docs/user-guide/testing/best-practices/_index.md
Owners: none

[Blog] Imagination o3de ray tracing (#2152)
  content/blog/posts/the-making-of-the-imagination-o3de-ray-tracing-gdc-2022-demo.md
  static/images/blog/imagination-demo/03DE-team.jpg
  static/images/blog/imagination-demo/components.jpg
  static/images/blog/imagination-demo/image1.jpg
  static/images/blog/imagination-demo/instantiating.gif
  static/images/blog/imagination-demo/irradiance.png
  static/images/blog/imagination-demo/levels-system.png
  static/images/blog/imagination-demo/non-skinned.png
  static/images/blog/imagination-demo/real-time_GI-changes.gif
Owners: none

Update UG project config with create project tutorial (#2145)
  content/docs/user-guide/build/_index.md
  content/docs/user-guide/project-config/project-manager.md
  content/docs/welcome-guide/create/creating-projects-using-project-manager.md
  static/images/user-guide/project-config/add-remove-gems/configure-gems-screen.png
  static/images/user-guide/project-config/project-manager/engine-tab.png
  static/images/user-guide/project-config/project-manager/project-settings.png
  static/images/user-guide/project-config/project-manager/projects-tab-legend.png
  static/images/welcome-guide/project-manager-build-project.png
  static/images/welcome-guide/project-manager-create-project.png
  static/images/welcome-guide/project-manager-engine-settings-adjusted.png
  static/images/welcome-guide/project-manager-menu-create-new-project.png
  static/images/welcome-guide/project-manager-no-projects.png
Owners: @o3de/sig-docs-community-reviewers

Apply suggestions from code review
  content/blog/posts/remoteobjects.md
Owners: none

Added Remote Objects blog
  content/blog/posts/remoteobjects.md
  static/images/blog/remote-objects/addremotedialog.PNG
  static/images/blog/remote-objects/dropdown.PNG
Owners: none

Updated BJDS name, images, and files (#2178)
  content/blog/posts/o3de-introducing-design-system.md
  content/docs/tools-ui/_index.md
  content/docs/tools-ui/branding-guidelines.md
  content/docs/tools-ui/icon-assets/_index.md
  content/docs/tools-ui/ux-patterns/_index.md
  content/docs/tools-ui/ux-patterns/component-card/_index.md
  content/docs/tools-ui/ux-patterns/component-card/writing-guidelines.md
  content/docs/tools-ui/ux-patterns/error/_index.md
  content/docs/tools-ui/ux-patterns/error/components/_index.md
  content/docs/tools-ui/ux-patterns/error/components/console-log.md
  content/docs/tools-ui/ux-patterns/error/components/dialogs.md
  content/docs/tools-ui/ux-patterns/error/components/inline-notifications.md
  content/docs/tools-ui/ux-patterns/error/components/log-table.md
  content/docs/tools-ui/ux-patterns/error/components/text-input-validation.md
  content/docs/tools-ui/ux-patterns/error/components/toasts.md
  content/docs/tools-ui/ux-patterns/error/guidelines.md
  static/files/Blue-Jay-Design-System-Logo-Pack.zip
  static/files/BlueJay-Design-System-Logo-Pack.zip
  static/files/O3DE-Logo-Pack.zip
  static/images/tools-ui/bjds-banner.png
  static/images/tools-ui/branding-guidelines/bjds-banner.png
  static/images/tools-ui/branding-guidelines/o3de-bjds-branding-banner.png
Owners: @o3de/sig-docs-community-reviewers

new mega menu update
  assets/js/app.js
  assets/sass/custom.sass
  config.toml
  layouts/partials/navbar.html
  layouts/partials/newHome/megaMenu/about.html
  layouts/partials/newHome/megaMenu/community.html
  layouts/partials/newHome/megaMenu/get-started.html
  layouts/partials/newHome/new-menu-loop.html
  static/img/home-new/event-O3DCON.jpeg
  static/img/home-new/nav-blog-image.jpg
Owners: @o3de/sig-docs-community-site-reviewers

Updated the windows release packaging instructions (#2170)
  content/docs/user-guide/packaging/windows-release-builds.md
Owners: none

Patched doc issues in Debugging section
  content/docs/user-guide/programming/debugging/_index.md
  content/docs/user-guide/programming/debugging/crash-dumps.md
Owners: none

Update content/blog/posts/remoteobjects.md
  content/blog/posts/remoteobjects.md
Owners: none

RHI backend support wording (#2190)
  content/docs/atom-guide/dev-guide/rhi/_index.md
Owners: none

add subtle issue description (#2164)
  content/docs/atom-guide/dev-guide/shaders/azsl/_index.md
Owners: none

Add 3p signoff feature (#2193)
  .github/dco.yml
Owners: none

Fix broken link to package troubleshooting page
  content/docs/user-guide/packaging/windows-release-builds.md
Owners: none

Add debugging information (#2174)
  content/docs/user-guide/programming/debugging/_index.md
  content/docs/user-guide/programming/debugging/crash-dumps.md
  content/docs/user-guide/programming/debugging/cvar-asserts.md
  content/docs/user-guide/programming/debugging/tracing.md
Owners: none

Update content/blog/posts/remoteobjects.md
  content/blog/posts/remoteobjects.md
Owners: none

Update content/blog/posts/remoteobjects.md
  content/blog/posts/remoteobjects.md
Owners: none

Appled editorial fixes (#2166)
  content/docs/user-guide/networking/multiplayer/overview.md
Owners: none

Controllable entity tutorial (#2105)
  content/docs/learning-guide/tutorials/_index.md
  content/docs/learning-guide/tutorials/input-and-movement/_index.md
  content/docs/learning-guide/tutorials/input-and-movement/grid-based-movement.md
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/input-bindings.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/input-component.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/prepare-scene.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-input-handlers.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-lerp-between.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-move-duration.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-movement-check.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-reset-is-moving.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-set-world-translation.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-using-variable-references-2.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-using-variable-references.png
  static/images/learning-guide/tutorials/input-and-movement/grid-based-movement/sc-variable-manager.png
Owners: none

Updated outdated links.
  content/docs/user-guide/testing/lytesttools/getting-started.md
Owners: none

Updated contributing git workflow doc to mention merging latest (#2171)
  content/docs/contributing/to-code/git-workflow.md
Owners: none

about dropdown - mega menu
  assets/sass/custom.sass
  layouts/partials/newHome/megaMenu/about.html
Owners: none

update megamenu
  assets/sass/custom.sass
  layouts/partials/newHome/megaMenu/community.html
  static/fonts/icomoon.woff
  static/fonts/icomoon.woff2
Owners: none
